@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --white: #FFFFFF;
    --light-gray: #C3CAD2;
    --dark-gray: #2C3238;
    --black: #21262C;
    --purple: #533DA1;
    --orange: #FF785B;
}

@font-face {
    font-family: 'Inter-Bold', sans-serif;
    src: url("../font/Inter-Bold.ttf");
}

.inter-bold {
    font-family: 'Inter-Bold', sans-serif;
}

@font-face {
    font-family: 'Inter-Regular', sans-serif;
    src: url("../font/Inter-Regular.ttf");
}

.inter-regular {
    font-family: 'Inter-Regular', sans-serif;
}

@font-face {
    font-family: 'Inter-Medium', sans-serif;
    src: url("../font/Inter-Medium.ttf");
}

.inter-medium {
    font-family: 'Inter-Medium', sans-serif;
}

@font-face {
    font-family: 'Inter-Light', sans-serif;
    src: url("../font/Inter-Light.ttf");
}

.inter-light {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

#dsk-nav-wrap {
    min-height: 120pt;
}

.hover-dissolve:hover {
    opacity: 60%;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none{
    display: none !important;
}

.search-icon{
    color: var(--purple);
    font-size: 26px;
}

.input-text {
    border: 2px solid var(--purple);
    border-radius: 12px;
}

.submit-button {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 8px;

    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--purple);
    border-radius: 12px;

    transition: color 0.2s ease-out;
}

.submit-button:hover {
    color: var(--white);
    background-color: var(--purple);
}

#password-input {
    outline: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

#see-psw {
    position: absolute;
    right: 20px;
    top: 10px;

    cursor: pointer;
    font-size: 24px;
    color: var(--purple);
}

#see-psw-toggle {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 10;
    opacity: 0;
}

#login-redirect {
    color: var(--black);
}

.material-symbols-outlined {
 font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
}

.of-language-checkbox:checked {
    background-color: var(--purple); /* Cambia il colore di sfondo quando il bottone è attivo */
    color: var(--purple);
    border-color: var(--purple);
}
.of-language-checkbox {
    background-color: var(--purple); /* Cambia il colore di sfondo quando il bottone è attivo */
    color: var(--purple);
    border-color: var(--purple);
}

.of-language-checkbox:active {
    background-color: var(--purple); /* Cambia il colore di sfondo quando il bottone è attivo */
    color: var(--purple);
    border-color: var(--purple);
}

/* autocomplete */
.autocomplete-wrapper {
    border: 2px solid var(--purple);
    border-radius: 12px;
}

.autocomplete-section {
    border-top: 1px solid var(--light-gray);
}

.autocomplete-suggestions {
    list-style-type: none;
    margin: 0;
    padding-left: 16px;
}

#skill-tags-section {
    width: 100%;
}

#skill-tags-wrapper {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#skill-tags {
    list-style-type: none;
    display: flex;
    gap: 4px;
    padding: 4px;
    margin: 0
}

.skill-tag {
    background-color: rgba(195, 202, 210, 0.4);
    border: 2px solid var(--light-gray);
    border-radius: 6px 12px;
    padding:  14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.skill-tag p {
    color: var(--black);
    font-size: 16px;
    margin: 0;
}

.skill-tag h3 {
    cursor: pointer;
    color: var(--dark-gray);
    font-size: 1px;
    margin: 0;
}

#skill-input-text {
    width: 120px;
    height: 30px;
    border: 0;
    outline: none;
    font-size: 18px;
}

#skills-autocomplete-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#locations-input-text {
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 12px;
}

.location-suggestion {
    display: flex;
    align-items: center;
    gap: 8px;
}

.location-suggestion i {
    color: var(--purple);
}

.suggestion-error {
    border: 2px solid #c92626 !important;
}

