#login-main-content {
    display: flex;
    align-items: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    background-size: 100% 100%;
}

#login-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-form-header h3 {
    font-size: 24px;
}

#login-form {
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(33, 38, 44, 0.3);
    color: var(--black);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 370px;
}

.title {
    text-align: center;
    color: #eee;
    font-size: pxpx;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    text-align: center;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.error {
    padding-top: 1rem;
    color: var(--purple);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: none;
}

.register {
    text-align: center;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}

a:link {
    color: var(--purple);
}

a:visited {
    color: var(--purple);
    font-style: italic;
}

a:hover {
    color: var(--purple);
}

a:active {
    color: var(--purple);
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 35px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    width: 100%;
    padding-left: 8px;
}

#login-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#login-submit-button:hover {
    color: var(--white);
    background-color: var(--purple);
}

.submit:active {
    background-color: var(--purple);
}
.submit:hover {
    background-color: var(--purple);
}