/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #mb-nav-wrap {
        bottom: 0;
        opacity: 100;
        height: 10dvh;
    }

    #dsk-nav-wrap {
        display: none !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #mb-nav-wrap {
        bottom: 0;
        opacity: 100;
        height: 10dvh;
    }

    #dsk-nav-wrap {
        display: none !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #mb-nav-wrap {
        opacity: 0;
    }

    #dsk-nav-wrap {
        display: block;
        top: 0;
        opacity: 100;
        height: 10dvh;
        border-bottom: 2px solid var(--light-gray);

        transition: border-bottom-color 0.25s ease-in-out;
    }

    #dsk-nav-wrap:hover {
        border-bottom: 2px solid var(--purple);
    }

    #dsk-nav-wrap {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


.navbar {
    width: 100%;
    position: absolute;
}

.grid-3fr {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-center {
    display: grid;
    align-items: center;
    justify-items: center;
}

#mb-nav-wrap {
    position: fixed;
    bottom: 0;
    background-color: var(--white);
}

#dsk-nav-wrap {
    width: 100%;
    background-color: var(--white);
    display: flex;
}

#mb-nav {
    height: 100%;
}

#dsk-nav {
    width: 85%;
    height: 100%;
}

.bi-icon-dev {
    cursor: pointer;
    color: var(--purple);
}

.bi-search {
    font-size: 32px;
}

.bi-list {
    font-size: 42px;
}

.mb-nav-button {
    border-top: 2px solid var(--light-gray);
}

#mb-nav-hamburger-toggle {
    z-index: 10;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#mb-nav-menu {
    width: 33vw;
    height: 150px;
    position: fixed;
    bottom: 0;
    margin-bottom: 10dvh;
    border-top: 2px solid var(--light-gray);
    box-shadow: -5px 0 10px rgba(44, 50, 56, 0.2);
    background-color: var(--white);
}

.mb-nav-menu-button {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.mb-account-icon {
    padding-top: 6px;
    font-size: 30px;
}

.tc-logo {
    width: 58px;
    height: 58px;
}

.dsk-account-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.dsk-nav-btn{
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    color: var(--purple);
}

.dsk-nav-btn p {
    font-size: 16px;
}

#dsk-nav-account-button{
    padding: 0 16px;
    border: 2px solid var(--purple);
    border-radius: 6px;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
    display: flex;
    align-items: center;
}

#dsk-nav-account-button:hover {
    box-shadow: 1px 6px 10px rgba(44, 50, 56, 0.2);
}

#dsk-nav-account:active {
    margin-top: 2px;
}

.dsk-account-icon {
    font-size: 24px;
}



#dsk-nav-search-bar{
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-icon {
    font-size: 26px;
}

@keyframes showSearchDesk {
    0% {
        width: 0;
        display: none;
    }

    100% {
        width: 200px;
        border-bottom: 2px solid var(--purple);

    }
}

#dsk-search-input{
    width: 0;
    padding: 0;
    outline: none;
    font-size: 18px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: var(--dark-gray);
}

#dsk-nav-wrap:hover #dsk-search-input{
    animation-name: showSearchDesk;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#dsk-search-button {
    display: grid;
    align-items: center;
    border-left: 0;
}

#dsk-search-button:hover {
    opacity: 0.7;
}