/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .register-form-wrapper {
        min-width: 80vw;
        min-height: 60dvh;
    }
    #register-form {
        min-width: 80dvw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .register-form-wrapper {
        min-width: 80vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 80dvw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .register-form-wrapper {
        min-width: 70vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 70dvw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register-form-wrapper {
        min-width: 60vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .register-form-wrapper {
        min-width: 50vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 50vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity:  0.4;
        margin-right: 60px;
    }
    100% {
        opacity:  1;
    }
}

.fade-in {
    animation: fadeIn 0.2s ease-in-out  0s  1 normal none running;
}


#register-main-content {
    width: 100%;
    height: 100dvh;
}

.register-form-wrapper {
    background-color: var(--white);
    border: 4px solid var(--purple);
    border-radius: 12px;

    box-shadow: 0 4px 6px rgba(33, 38, 44, 0.3);
    transition: box-shadow 0.15s ease-out;
}

.register-form-wrapper:hover {
    box-shadow: 0 6px 8px rgba(33, 38, 44, 0.4);
}

#register-form-0 {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-0-content {
    width: 80%;
}

/*TODO: refactor as form-wrapper class*/
#register-form-1-wrapper {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-2-wrapper {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: var(--black);

    font-size: 28px;
}

.subtitle {
    text-align: center;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.register-form-input-wrapper {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#register-form-user-type-input {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.register-user-type {
    display: flex;
    gap: 12px;
    font-size: 18px;
}

.register-user-type input {
    width: 18px;
    margin-bottom: 6px;
}

.error {
    color: rgb(231, 61, 61);
}

.input-container {
    height: 50px;
    width: 80%;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    padding-left: 24px;
}

.register-switch-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.register-switch-form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-submit-button {
    width: 40%;
}

.switch-arrow:hover {
    cursor: pointer;
    color: rgba(33, 38, 44, 0.4);
}

.switch-form-right {

}

.switch-form-right {

}

.login {
    text-align: center;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

#register-form-2 {
    width: 80%;
}

.form-labeled-input h3 {
    font-size: 22px;
}

#form-2-inputs {
    width: 100%;
}

#second-form-employer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-form-employer {
    width: 80%;

    display: grid;
    grid-template-rows: 1fr 1fr;

}


#emp-company-wrapper .input-container {
    width: 100%;
}

