/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #of-search-wrap h2 {
        font-size: 22px !important;
    }

    .search-out-query {
        font-size: 22px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #of-filter-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #mb-of-searchbar-wrap {
        display: none;
    }

    #of-filter-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .of-offer-card {
        width: 50%;
    }

    #item-cards-list {
        width: 50% !important;
    }

    #recommended-cards-list {
        width: 50% !important;
    }

    #search-main {
        margin-top: 20dvh;
        padding-bottom: 2dvh !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* SEARCH BAR MOBILE */
#mb-of-searchbar-wrap {
    width: 100%;
    margin-top: 30px;
}

#mb-of-searchbar {
    width: 85vw;
    border: 2px solid var(--purple);
    border-radius: 6px;
}

.search-icon {
    cursor: pointer;
    width: 10%;
    height: 40px;
    border-left: 2px solid var(--purple);
    font-size: 20px;
}

.search-icon:active {
    opacity: 80%;
}

#mb-searchbar-input {
    width: 90%;
    height: 40px;
    outline: none;
    border: 0;
    font-size: 18px;
    padding: 15px;
}

/* FILTER SECTION */
#of-filters-wrap {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#of-filters {
    width: 85vw;
    height: fit-content;
    border: 2px solid var(--light-gray);
    border-radius: 6px;
}

#of-filter-toggle-icon {
    cursor: pointer;
    font-size: 34px;
    color: var(--purple);
    padding-top: 4px;
    padding-bottom: 4px;
}

#of-filter-toggle {
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;
    position: absolute;
    opacity: 0;
}

#of-filter-list {
    width: 90%;
    border-top: 2px solid var(--light-gray);
}

#of-filter-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#of-filter-location-icon {
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
}

#of-filter-location-toggle {
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;
    opacity: 0;
}

#of-filter-language-header {
    display: flex;
    justify-content: space-between;
}

#of-filter-language-toggle-wrap {
    margin-top: 18px;
}

#of-filter-language-toggle-wrap input{
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;
    position: absolute;
    opacity: 0;
}

#of-filter-language-ul{
    list-style-type: none;
    padding: 0;
}

.of-language-li {
    display: flex;
    gap: 4px;
    font-size: 18px;

}

/* OFFERS */
#of-list-wrap {
    width: 100%;
}

#item-cards-list {
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#recommended-cards-list {
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-card {
    border: 2px solid var(--light-gray);
    border-radius: 6px;
    padding: 1.5rem 24px;
    box-shadow: 0 2px 4px rgba(33, 38, 44, 0.1);
    transition: box-shadow 0.2s ease;
}

.item-card:hover {
    box-shadow: 0 4px 6px rgba(33, 38, 44, 0.2);
}

.of-offer-card:hover {
    box-shadow: 0 2px 10px rgba(33, 38, 44, 0.2);
}

.of-offer-card-header {
    display: flex;
}

.of-offer-head {
    color: var(--black);
    width: 80%;
}

.of-offer-card-header .of-offer-head p{
    font-weight:600;
    font-size:18px;
    padding-bottom:3px;
}
.of-offer-head h3{
    font-size: 16px;
}

.of-offer-head h1{
    font-size: 24px;
}

.of-offer-bookmark {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.of-offer-bookmark i {
    cursor: pointer;
    font-size: 26px;
}

.of-offer-bookmark i:hover {
    opacity: 0.7;
}

.of-offer-card-meta {
    display: flex;
    justify-content: space-between;
}

.of-offer-card-meta h3 {
    color: var(--dark-gray);
    font-size: 16px;
}

.of-offer-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.of-offer-desc-preview p {
    color: var(--dark-gray);
    font-size: 16px;
}

.of-offer-button {
    display: flex;
    justify-content: end;
    align-items: center;
}

.of-offer-button div {
    width: 90%;
    padding: 14px 0;
    cursor: pointer;
    border: 2px solid var(--purple);
    border-radius: 6px;
    font-size: 18px;

    box-shadow: 0 2px 4px rgba(83, 61, 161, 0.2);
    transition: color 0.2s ease-out;
}

.of-offer-button div:hover {
    background-color: var(--purple);
    color: var(--white);
    box-shadow: 0 2px 8px rgba(83, 61, 161, 0.8);
}

.of-offer-button div:active {
    margin-top: 2px;
}


#search-main {
    padding-bottom: 12dvh;
}

#of-search-wrap {
    width: 85%;
    justify-content: start !important;
}

#of-search-wrap h2 {
    font-size: 28px;
}

#search-out-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.search-out-query {
    font-size: 28px;
    color: rgba(33, 38, 44, 0.8);
}

/* DEF */
#of-default-recommendations {
    width: 100%;
}

#of-def-rec-wrap {
    width: 85%;
    justify-content: start !important;
}
#of-def-rec-wrap h2 {
    font-size: 28px;
}

@keyframes fadeIn {
    0% {
        opacity:  0.1;
    }

    100% {
        opacity:  1;
    }
}

.fade-in {
    animation: fadeIn 0.1s ease-in 0s  1 normal none running;
}
