/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .register-form-wrapper {
        min-width: 80vw;
        min-height: 60dvh;
    }
    #register-form {
        min-width: 80dvw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .register-form-wrapper {
        min-width: 80vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 80dvw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .register-form-wrapper {
        min-width: 70vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 70dvw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register-form-wrapper {
        min-width: 60vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .register-form-wrapper {
        min-width: 50vw;
        min-height: 60dvh;
    }

    #register-form {
        min-width: 50vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity:  0.4;
        margin-right: 60px;
    }
    100% {
        opacity:  1;
    }
}

.fade-in {
    animation: fadeIn 0.2s ease-in-out  0s  1 normal none running;
}


#register-main-content {
    width: 100%;
    height: 100dvh;
}

.register-form-wrapper {
    background-color: var(--white);
    border: 4px solid var(--purple);
    border-radius: 12px;

    box-shadow: 0 4px 6px rgba(33, 38, 44, 0.3);
    transition: box-shadow 0.15s ease-out;
}

.register-form-wrapper:hover {
    box-shadow: 0 6px 8px rgba(33, 38, 44, 0.4);
}

#register-form-0 {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-0-content {
    width: 80%;
}

/*TODO: refactor as form-wrapper class*/
#register-form-1-wrapper {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-2-wrapper {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: var(--black);

    font-size: 28px;
}

.subtitle {
    text-align: center;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.register-form-input-wrapper {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#register-form-user-type-input {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.register-user-type {
    display: flex;
    gap: 12px;
    font-size: 18px;
}

.register-user-type input {
    width: 18px;
    margin-bottom: 6px;
}

.error {
    color: rgb(231, 61, 61);
}

.input-container {
    height: 50px;
    width: 80%;
}

.register-switch-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.register-switch-form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-submit-button {
    width: 40%;
}

.switch-arrow:hover {
    cursor: pointer;
    color: rgba(33, 38, 44, 0.4);
}

.switch-form-right {

}

.switch-form-right {

}

.login {
    text-align: center;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

#register-form-2 {
    width: 80%;
}

.form-labeled-input h3 {
    font-size: 22px;
}

#form-2-inputs {
    width: 100%;
}

/* SKILLS AND LOCATION */
.autocomplete-wrapper {
    border: 2px solid var(--purple);
    border-radius: 12px;
}

.autocomplete-section {
    border-top: 1px solid var(--light-gray);
}

.autocomplete-suggestions {
    list-style-type: none;
    margin: 0;
    padding-left: 16px;
}

#skill-tags-section {
    display: grid;
    grid-template-columns: 80% 20%;
}

#skill-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#skill-tags {
    list-style-type: none;
    display: flex;
    gap: 4px;
    padding: 4px;
    margin: 0
}

.skill-tag {
    background-color: rgba(195, 202, 210, 0.4);
    border: 2px solid var(--light-gray);
    border-radius: 12px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill-tag p {
    color: var(--black);
    font-size: 16px;
}

.skill-tag h3 {
    cursor: pointer;
    color: var(--dark-gray);
    font-size: 14px;
    padding-top: 4px;
}

#skill-input-text {
    width: 30px;
    height: 30px;

    outline: none;
    font-size: 18px;
}

#add-skill-button {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

#add-skill-button:hover {
    opacity: 0.8;
}

#skills-autocomplete-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#locations-input-text {
    height: 50px;
}

.location-suggestion {
    display: flex;
    align-items: center;
    gap: 8px;
}

.location-suggestion i {
    color: var(--purple);
}

.suggestion-error {
    border: 2px solid #c92626 !important;
}

/***/
a:link {
    color: var(--purple);
}

a:visited {
    color: var(--purple);
    font-style: italic;
}

a:hover {
    color: var(--purple);
}

a:active {
    color: var(--purple);
}

.input {
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.submit {
    background-color: var(--purple);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: var(--purple);
}
.submit:hover {
    background-color: var(--purple);
}

